# LLM APIs
anthropic
backoff
openai
requests
charset_normalizer
# Viz
matplotlib
pillow
pypdf
pymupdf4llm
seaborn
# Common Requirements
numpy
pandas
transformers
datasets
tiktoken
wandb
tqdm
rich
humanize
dataclasses-json
funcy
black
genson
shutup
python-igraph
coolname
jsonschema
omegaconf
botocore
boto3
jinja2
psutil
